@use '../../utils' as *;

.tp-technologies {
  &-main-content {
  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px; // Set a minimum height
    // background-color: ;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &-row {
    display: flex;
    align-items: center; // Align items in the center
    // background-color: azure;
    // border: 1px solid black;
    padding: 20px;
    max-width: 100%;
    // overflow: hidden;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &-details{
   padding:30px;
   overflow: hidden;
    width:  500px;
    flex: 1; // Take up equal space
    height: 400px; // Set height
    // border: 1px solid black;

    @media (max-width: 768px) {
      margin-top: 20px; // Add some spacing on smaller screens
      width: 100%; // Full width on smaller screens
    }
  }
  &-image {
    padding:30px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 400px; 
    // border: 1px solid black;

    @media (max-width: 768px) {
      margin-top: 20px; // Add some spacing on smaller screens
      width: 100%; // Full width on smaller screens
    }
  }

  &-details {
    margin-right: 20px; // Add margin between details and image

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
 
  &-button{
    position: relative;
    height: 40px;
    border-radius: 8px;
    width: 100px;
    background-color: var(--tp-theme-secondary);
    color: var(--tp-theme-third);
    font-weight: bold;

    &:hover {
       transition:background-color 0.5s; 
      background-color: var(--tp-theme-third);
      color:var(--tp-theme-secondary);
       border:1px solid var(--tp-theme-secondary);
    }
  }
 
 
  &-framework {


    &-image{
          background-color: azure;
          height: 340px;
          width: 300px;
    }

    &-info{
       
      gap:20px;
       display:flex;
    
    }
   
    &-name {
      font-size: 40px;
      margin-bottom: 10px;
      
    }

    &-description {
      font-size: 18px;
      margin-bottom: 10px;
    }

    &-link {
   
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 100px;
      background-color: var(--tp-theme-third);
      color:var(--tp-theme-secondary);
      border:1px solid var(--tp-theme-secondary);
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
        transition: background-color 0.5s;
        background-color: var(--tp-theme-secondary);
      color:var(--tp-theme-third);
       
      }
    }

  }

  @media (max-width: 768px) {
    .tp-technologies-main-content {
      padding: 10px;
    }

    .tp-technologies-framework-name {
      font-size: 18px;
    }

    .tp-technologies-framework-description {
      font-size: 14px;
    }
  }
}
